.header {
  background-color: $brand;

  @include max(1180) {
    display: none;
  }

  .container {
    display: flex;
    align-items: center;
  }
}

//begin #CONTACTS
.header-contacts {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-contacts__link {
  display: flex;
  align-items: center;
  margin-right: 30px;
  transition: opacity .5s;
  text-decoration: none;

  &:hover {
    opacity: .9;
  }

  svg {
    flex: none;
    fill: #fff;
    width: 11px;
    height: 16px;
    margin-right: 8px;
  }

  span {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
    flex: none;
    white-space: nowrap;
    color: #fff;
  }
}

//end #CONTACTS

//begin #MENU
.header-menu__list {
  display: flex;
  margin: 0 20px 0 0;
  padding: 0;
}

.header-menu__item {
  list-style: none;
  transition: .5s;
  background-color: transparent;

  &.active {
    pointer-events: none;
    background-color: #296963;
  }

  &:hover {
    background-color: #0a534c;
  }
}

.header-menu__link {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  display: flex;
  align-items: center;
  min-height: 48px;
  padding: 0 12px;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
}

//end #MENU

//begin #ITEM
.header-item {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 305px;
  height: 48px;
  padding-right: 60px;
}

//end #ITEM

//begin #SOCIALS
.header-socials {
  display: flex;
  padding-left: 21px;
}

.header-socials__link {
  flex: none;
  margin-right: 15px;
  transition: .5s;

  &:hover {
    opacity: .9;
  }

  svg {
    fill: #fff;
    width: 16px;
    height: 16px;
  }
}

//end #SOCIALS

//begin #USER
.header-user {
  display: flex;
  align-items: center;
  margin-left: 15px;
  transition: opacity .5s;

  &:hover {
    opacity: .9;
  }

  svg {
    flex: none;
    fill: #fff;
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }

  span {
    font-size: 14px;
    line-height: 1;
    white-space: nowrap;
    color: #fff;
  }
}

//end #USER

//begin #SEARCH
.header-search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  transition: opacity .5s;
  pointer-events: none;
  opacity: 0;

  &.active {
    pointer-events: auto;
    opacity: 1;
  }
}

.header-search__input {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  width: 100%;
  height: 48px;
  padding: 5px 50px 5px 15px;
  color: #fff;
  border: none;
  background-color: #2f7380;

  @include placeholder-color(rgba(255, 255, 255, .5));
}

.header-search__btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  box-shadow: none;

  svg {
    fill: #fff;
    width: 16px;
    height: 16px;
  }
}

//end #SEARCH

//begin #SEARCH-OPEN
.header__search-open {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: opacity .5s;

  svg {
    fill: #fff;
    width: 16px;
    height: 16px;
  }

  &.hidden {
    pointer-events: none;
    opacity: 0;
  }
}

//end #SEARCH-OPEN

//begin #LANG
.header-langs {
  position: relative;
  min-width: 64px;
  height: 48px;
  z-index: 1;

  &:hover {
    .header-langs__list {
      pointer-events: auto;
    }

    .header-langs__item {
      opacity: 1;

      //&:first-child {
      &.active {
        background-color: #296963 !important;
      }

      &:hover {
        background-color: #D9E4E1;
      }
    }
  }
}

.header-langs__list {
  position: absolute;
  top: 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  pointer-events: none;
  border-radius: 0 0 8px 8px;
}

.header-langs__item {
  padding: 0 20px 0 12px;
  list-style: none;
  transition: .5s;
  opacity: 0;
  background-color: #ebf1ef;

  &.active {
    order: -1;
    opacity: 1;
    background-color: transparent;

    .header-langs__link {
      color: #fff;
    }
  }
}

.header-langs__link {
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 48px;
  transition: .5s;
  text-decoration: none;
  color: #1d1d1b;
}

.header-langs__icon {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 7px;
  height: 4px;
  margin: auto;

  svg {
    fill: #fff;
    width: 7px;
    height: 4px;
  }
}

//end #LANG
