.page-title {
  padding: 22px 0;
  background-color: #f5f8f7;

  @include max(680) {
    padding: 18px 0;
  }
}

.page-title__title {
  font-size: 48px;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  color: $text;

  @include responsive-font(48, 24);
}
