//begin aside
.aside
  //begin aside__nav
  nav.aside__nav.aside-nav
    .aside-nav__close
      +svg('close')
    ul.aside-nav__list
      li.aside-nav__item
        a(href="#").aside-nav__link.active Репродуктивне здоров'я
      li.aside-nav__item
        a(href="#").aside-nav__link Запліднення In Vitro
      li.aside-nav__item
        a(href="#").aside-nav__link Жіноче здоров'я
      li.aside-nav__item
        a(href="#").aside-nav__link Чоловіче здоров'я
      li.aside-nav__item
        a(href="#").aside-nav__link Здоров'я пари
      li.aside-nav__item
        a(href="#").aside-nav__link Відкладене материнство
      li.aside-nav__item
        a(href="#").aside-nav__link Підготовка до вагітності
  //end aside__nav

  a(href="#").aside__btn.aside-btn
    span.aside-btn__text Питання - Відповіді

  a(href="#").aside__btn.aside-btn.active
    span.aside-btn__text Калькулятори
    span.aside-btn__subtext репродуктивного здоров'я

  a(href="#").aside-nav__btn
    span Репродуктивне здоров'я
//end aside