//begin aside
.aside
  //begin aside__nav
  nav.aside__nav.aside-nav
    .aside-nav__close
      +svg('close')
    ul.aside-nav__list
      li.aside-nav__item
        a(href="#").aside-nav__link.active Первинна консультація репродуктолога
      li.aside-nav__item
        a(href="#").aside-nav__link Скайп консультація репродуктолог
      li.aside-nav__item
        a(href="#").aside-nav__link УЗД матки та придатків
      li.aside-nav__item
        a(href="#").aside-nav__link УЗД грудних залоз
      li.aside-nav__item
        a(href="#").aside-nav__link Консультація гінеколога
      li.aside-nav__item
        a(href="#").aside-nav__link Консультація уролога
  //end aside__nav

  a(href="#").aside-nav__btn
    span Первинна консультація репродуктолога
//end aside