//begin index-slider
.index-slider#index-slider
  .index-slider__slide(style="background-image: url('assets/img/slider-01.jpg')")
    .container
  .index-slider__slide(style="background-image: url('assets/img/slider-02.jpg')")
    .container
      a(href="#").index-slider__title
        span Чек ап жіночого здоров’я <br> <strong>1499 грн</strong>
  .index-slider__slide(style="background-image: url('assets/img/slider-03.jpg')")
    .container
      a(href="#").index-slider__title
        span Тут зароджується життя,<br> на яке чекають
//end index-slider