//begin underheader
.underheader
  .container
    a(href="/").underheader__logo
      +svg('underheader')
      
    //begin underheader__menu
    nav.underheader__menu.underheader-menu
      ul.underheader-menu__list
        li.underheader-menu__item.active
          a(href="#").underheader-menu__link Репродуктивне здоров'я
        li.underheader-menu__item
          a(href="#").underheader-menu__link Діагностика
        li.underheader-menu__item
          a(href="#").underheader-menu__link Лікування
        li.underheader-menu__item
          a(href="#").underheader-menu__link Ціни
    //end underheader__menu
//end underheader