// ===== main colors =====
$brand: #004c45;

// ===== text colors =====
$text: #1d1d1b;

// ===== link colors =====

// ===== transition =====
$transition: .3s ease-in-out;

// ===== fonts =====
$font: 'Montserrat', sans-serif;
