extends ../_template

block variables

block content
  .main-wrap.no-js
    include ../sections/header
    include ../sections/header-mob
    include ../sections/underheader

    //begin content
    main.main.article
      include ../sections/back-to-blog
      .container
        //begin article__item
        .article__item.article-item
          .article-item__title Відкладене материнство
          .article-item__descr
            .article-item__pic.article-item__pic--top
              img(src="assets/img/blog-01.jpg" alt="picture")
            .article-item__pic-text Після 35 років власні репродуктивні резерви жінки поступово зменшуються. Сучасна методика відкладеного материнства надає можливість призупинити біологічний годинник та запланувати народження дитини в більш пізньому віці.

            .title-32 Коли актуально відкладене материнство?
            .article-item__section
              .title-24 Якщо хочете стати мамою, але пізніше
              p Самореалізація, кар’єра, подорожі… В житті так багато важливих справ, що зовсім немає часу на народження дітей. Ви чекаєте, коли з’явиться «той самий» партнер, коли будете психологічно та фінансово готові до цього кроку. Відтермінування материнства дозволяє спокійно насолоджуватися життям та не турбуватися, що упускаєте час.

            .article-item__section
              .title-24 Якщо попереду – важке лікування
              p Існують хвороби, після лікування яких вагітність стає небезпечною або зовсім неможливою. В першу чергу, це онкологія. В таких випадках відкладене материнство допомагає зберегти фертильність, щоб народити здорову дитину після власного одужання.

            a(href="https://youtu.be/XmtXC_n6X6Q?t=452" data-fancybox).article-item__pic.article-item__pic--video
              img(src="assets/img/blog-02.jpg" alt="picture")

            .title-32 Відкладене материнство – як це працює?
            .article-item__section
              p Репродуктивний матеріал зберігається протягом тривалого часу – для цього використовується безпечний та надійний метод кріоконсервації. Після розморожування біологічні  біологічні об’єкти повністю відновлюють свої функції. Кріоконсервації підлягають:
              ul.ul-list
                li ооцити
                li ембріони
                li яйникова тканина

            //begin article-item__steps
            .article-item__steps.article-steps
              //begin article-step
              .article-steps__step.article-step
                .article-step__numb Етап 1
                .article-step__descr
                  .title-32 Первинна консультація репродуктолога
                  p Спеціаліст запропонує:
                  ul.ul-list
                    li провести УЗ діагностику органів малого тазу
                    li здати аналіз на визначення рівня АМГ – гормону, який є показником репродуктивного здоров’я жінки
                  p Лікар оцінить ваш оваріальний резерв – скільки яйцеклітин зможе виробити організм протягом життя
              //end article-step

              //begin article-step
              .article-steps__step.article-step
                .article-step__numb Етап 2
                .article-step__descr
                  .title-32 Трансвагінальна пункція фолікулів
                  p Ця процедура може бути проведена як у природному циклі, так і за допомогою гормональної стимуляції росту фолікулів.
              //end article-step

              //begin article-step
              .article-steps__step.article-step
                .article-step__numb Етап 3
                .article-step__descr
                  .title-32 Здача еякулята
                  p Цей етап актуальний у випадку, коли планується кріоконсервація ембріонів. Майбутній батько має відвідати клініку та здати еякулят для подальшого штучного запліднення.
              //end article-step

              //begin article-step
              .article-steps__step.article-step
                .article-step__numb Етап 4
                .article-step__descr
                  .title-32 Кріоконсервація
                  p Зібраний матеріал консервується в кріобанку. Якщо це ембріон – попередньо проводиться запліднення, ембріон культивується до стадії бластоцисти.
                  p У майбутньому збережений матеріал може бути використаний в одній з програм ДРТ для народження вашого малюка. І зробити це можна у будь-який час, коли забажаєте.
                  p Якщо у вас є вагомі причини для відтермінування материнства, звертайтеся до нашої клініки. Ми працюємо за сучасними протоколами та новітніми світовими стандартами, маємо власну ембріологічну лабораторію з унікальнім обладнанням.
                  p Зробіть перший крок – запишіться до репродуктолога. Він надасть детальну консультацію, призначить необхідні обстеження та складе для вас індивідуальний план реалізації програми відкладеного материнства.
              //end article-step
            //end article-item__steps
        //end article__item
    //end content

    include ../sections/footer
    include ../sections/scripts