extends ../_template

block variables
  - var pageTitle = 'Перший візит'

block content
  .main-wrap.no-js
    include ../sections/header
    include ../sections/header-mob
    include ../sections/underheader

    //begin content
    main.main.first-visit
      include ../sections/page-top-pic
      include ../sections/page-title

      .first-visit__text
        .container
          .first-visit__text-block
            h2.title-40 Перший візит в клініку <span>OVO Life</span>
            p Персонал клініки OVO Life докладає максимум зусиль для того, щоб відвідування нашого медичного закладу було для вас комфортним та результативним. Особливу роль відіграє перший візит, під час якого лікар має в повному обсязі ознайомитися з проблемами пацієнта.
            p Якщо ви вже раніше відвідували консультації з приводу безпліддя, підготуйте та візьміть із собою наявні медичні документи: довідки, висновки, результати аналізів на гормони та інфекції, дані ультразвукових досліджень, виписки після хірургічних втручань. Це допоможе швидше перейти від розмов до дій – обстеження, діагностики та ефективного лікування.
          .first-visit__text-block
            h3.title-32 Як проходить перший візит в клініку OVO Life
            ul.ul-list
              li Під час першої зустрічі ми підписуємо з вами угоду про надання медичних послуг
              li Проводимо консультацію в режимі запитання-відповідь та збираємо ваш анамнез
              li Створюємо ваш особистий кабінет, у якому надалі будемо зберігати дані по кожному етапу вашого лікування. Ви отримуєте онлайн доступ до вашої медичної інформації.
              li Детально розповідаємо про напрямки роботи клініки, надаємо інформацію про послуги, знайомимо з нашими діагностичними та терапевтичними можливостями.
          .first-visit__text-block
            h3.title-32 Телефон для запису на консультацію
            a(href="tel:+380971621688").first-visit__link
              +svg('smart')
              span 097 16 216 88
          .first-visit__text-block
            h3.title-32 Запрошуємо вас на перший візит у клініку <span>OVO Life</span> за адресою
            a(href="https://goo.gl/maps/BTUT2QsmjXZBCCbF6" target="_blank" rel="nofollow noopener noreferrer").first-visit__link
              +svg('marker')
              span м. Львів , пр. Червоної Калини, 60, Avalon Up

      include ../sections/map-sm
    //end content

    include ../sections/footer
    include ../sections/scripts
    script.
      function initMap() {
        let windowWidth = document.documentElement.clientWidth;
        let myLatLng = {lat: 49.7946105662072, lng: 24.05389071216973};

        let map = new google.maps.Map(document.getElementById('map-sm'), {
          zoom: 17,
          center: myLatLng,
          styles: []
        });
        let marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Ovo',
          icon: 'assets/img/marker.svg'
        });
      }
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdGbaaf94NCuCkoH98Ry12HA59U0eTqIA&callback=initMap")
