.calcs-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.calcs-list__item {
  display: flex;
  width: calc(50% - 16px);
  margin-bottom: 32px;
  list-style: none;
  &:first-child{
    svg {

    stroke: transparent;
    }
  }

  @include max(1023) {
    width: calc(50% - 8px);
    margin-bottom: 16px;
  }
  @include max(540) {
    width: 100%;
  }
}

.calcs-list__link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 32px;
  transition: .5s;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  background-color: transparent;

  @include max(1023) {
    padding: 16px;
  }

  &:hover {
    background-color: #f9fbfa;
  }
}

.calcs-list__icon {
  margin-bottom: 32px;

  svg {
    fill: #adc9b8;
    stroke: #adc9b8;
    max-width: 96px;
    max-height: 96px;
  }
}

.calcs-list__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.33;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  text-align: center;
  color: #000;
}
