.price {
  .blog-switcher {
    @include max(540) {
      position: relative;
      justify-content: center;
      margin-top: 16px;
      transform: translateY(0);
    }
  }
}

.price-accordion {
  padding-top: 32px;

  @include max(900) {
    width: calc(100% + 64px);
    margin-left: -32px;
  }
  @include max(768) {
    width: calc(100% + 32px);
    margin-left: -16px;
  }
  @include max(680) {
    padding-top: 16px;
  }
}

.price__row {
  margin-bottom: 24px;

  @include max(900) {
    margin-bottom: 16px;
  }
  @include max(576) {
    margin-bottom: 8px;
  }
}

//begin #QUESTION
.price-question {
  display: flex;
  align-items: center;
  padding: 24px 74px 24px 24px;
  cursor: pointer;
  transition: .5s;
  border-radius: 350px;
  background-color: #f2f6f4;

  @include max(900) {
    padding: 16px 16px 16px 16px;
    border-radius: 0;
  }

  &:hover {
    background-color: #ebf2ee;
  }

  &.active {
    background-color: #e5eee8;

    .price-question__btn {
      transform: rotate(180deg);
    }
  }
}

.price-question__pic {
  overflow: hidden;
  flex: none;
  width: 112px;
  height: 112px;
  margin-right: 24px;
  border-radius: 50%;

  @include max(900) {
    width: 90px;
    height: 90px;
    margin-right: 16px;
  }
  @include max(576) {
    width: 70px;
    height: 70px;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.price-question__title {
  font-weight: 300;
  line-height: 1;
  width: 100%;
  margin: 0;
  padding-right: 16px;
  user-select: none;
  color: #1d1d1b;

  @include max(374) {
    font-size: 20px;
  }
}

.price-question__cash {
  font-weight: 600;
  line-height: 1;
  flex: none;
  width: 160px;
  padding-right: 16px;
  color: #1d1d1b;

  @include responsive-font(24, 16);
  @include max(1100) {
    width: 100px;
  }
  @include max(576) {
    width: 54px;
  }
}

.price-question__btn {
  transition: .5s;

  svg {
    flex: none;
    width: 24px;
    height: 16px;

    @include max(576) {
      width: 16px;
      height: 10px;
    }
  }
}

//end #QUESTION

//begin #ANSWER
.price-answer {
  display: none;
  width: 100%;
  max-width: 930px;
  margin: 0 auto;

  @include max(1230) {
    max-width: 100%;
  }
}

.price-answer__section {
  margin-bottom: 24px;

  @include max(900) {
    margin-bottom: 16px;
  }
  @include max(576) {
    margin-bottom: 8px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.price-answer__row {
  display: flex;
  align-items: center;
  padding: 24px 24px 24px 64px;
  border-radius: 35px;

  @include max(1230) {
    padding: 24px 120px 24px 160px;
  }
  @include max(1100) {
    padding: 24px 60px 24px 160px;
  }
  @include max(900) {
    padding: 16px 4px 16px 16px;
  }
  @include max(576) {
    padding: 8px 4px 8px 16px;
  }

  &:nth-child(even) {
    background-color: #fafbfb;
  }
}

.price-answer__text {
  font-weight: 300;
  line-height: 1.33;
  max-width: 550px;
  padding-right: 16px;
  color: #1d1d1b;

  @include responsive-font(24, 16);
}

.price-answer__cash {
  font-weight: 600;
  line-height: 1;
  flex: none;
  width: 136px;
  margin-left: auto;
  white-space: nowrap;
  color: #1d1d1b;

  @include responsive-font(24, 16);
  @include max(576) {
    width: 82px;
  }
}

//end #ANSWER
