.search {
  padding-bottom: 32px;
}

.search-form {
  position: absolute;
  top: 0;
  right: 48px;
  overflow: hidden;
  width: 100%;
  max-width: 352px;
  transform: translateY(-70px);
  border-radius: 25px;
  background-color: #fbfcfc;

  @include max(1024) {
    right: 32px;
  }
  @include max(768) {
    right: 16px;
  }
  @include max(680) {
    position: relative;
    right: auto;
    margin-top: 12px;
    transform: translateY(0);
  }
}

.search-form__input {
  width: 100%;
  margin: 0;
  padding: 5px 48px 5px 24px;
}

.search-form__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  box-shadow: none;

  svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    fill: $text;
    width: 16px;
    height: 16px;
    margin: auto;
  }
}

.search-result {
  display: flex;
  justify-content: flex-start;
  padding: 32px 0;

  @include max(680) {
    padding: 24px 0;
  }
}

.search-result__text,
.search-result__numb {
  font-size: 16px;
  font-weight: 300;
  color: #1d1d1b;
}

.search-result__numb {
  font-weight: 600;
  padding-left: 5px;
}
